@import '../getBootstrap';

.sidebar {
  @media only screen and (max-width: 991px) {
    bottom: -44%;
    width: calc(100vw - 30px);
    position: fixed;
    padding: 10px;
    max-height: 600px;
    overflow: auto;
    transition: all ease-in-out .5s;
    
    @media only screen and (max-width: 991px) {
      bottom: -38%;
    }
    &.opened {
      bottom: 0;
    }
  }
}