.card-grid {
  position: relative;
  border-radius: 10px;
  border: 0.88px solid rgba(60, 101, 245, 0.12);
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  background: #f8f9fa;
  text-align: center; }
  .card-grid:hover {
    background: rgba(60, 101, 245, 0.12); }

.card-image-top {
  border: 1px solid #3C65F5;
  padding: 12px 12px 20px 12px;
  border-radius: 16px;
  margin-bottom: 24px; }
  .card-image-top .image {
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    height: 261px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px; }
    .card-image-top .image .lbl-hot {
      position: absolute;
      top: 20px;
      left: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 10px;
      height: 24px;
      background: #3C65F5;
      border-radius: 5px;
      min-width: 42px; }
    .card-image-top .image img {
      border-radius: 0px;
      width: 100%; }
  .card-image-top .informations {
    position: relative;
    padding: 0 5px; }
    .card-image-top .informations h5 {
      margin-bottom: 5px; }

.card-grid-border {
  border: 1px solid #3C65F5;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 30px; }
  .card-grid-border .link-arrow {
    display: inline-block;
    padding: 0px 35px 0px 0px;
    line-height: 22px; }

.card-list-4 {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0px 0px 15px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #3C65F5; }
  .card-list-4 .image {
    min-width: 60px;
    padding-right: 10px; }
  .card-list-4 .info-text {
    width: 100%;
    margin-top: -4px; }
  .card-list-4 .card-price {
    font-size: 16px;
    line-height: 26px;
    padding-top: 0px;
    display: inline-block; }
    .card-list-4 .card-price span {
      font-size: 12px;
      line-height: 12px;
      font-weight: 500; }

ul li:last-child {
  padding-bottom: 0px !important; }
  ul li:last-child .card-list-4 {
    border-bottom: 0px;
    padding-bottom: 0px; }

.box-radius-8 {
  border-radius: 8px;
  padding: 30px;
  display: flex;
  border: 1px solid #3C65F5; }
  .box-radius-8 .image {
    display: inline-block;
    min-width: 176px;
    padding-right: 25px; }
  .box-radius-8 .text-info {
    display: inline-block;
    width: 100%; }

.card-category {
  height: 255px; }
  .card-category .box-cover-img {
    top: 0px; }

.card-review-1 {
  border: 1px solid #3C65F5;
  border-radius: 10px;
  padding: 0px 25px 25px 25px;
  position: relative;
  margin: 45px 0px 0px 0px; }
  .card-review-1 .image-review {
    text-align: center; }
    .card-review-1 .image-review img {
      margin: -44px 0px 0px 0px;
      width: 88px;
      height: 88px;
      border-radius: 50%; }
  .card-review-1 .review-name {
    text-align: center;
    border-bottom: 1px solid #3C65F5;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 15px; }
  .card-review-1 .review-rating {
    margin-bottom: 10px; }
    .card-review-1 .review-rating img {
      margin-right: 5px; }

.custom-radio, .custom-checkbox {
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  line-height: 1.6;
  min-height: 15px; }
  .custom-radio input, .custom-checkbox input {
    position: absolute;
    left: 1px;
    top: 1px;
    visibility: hidden; }
    .custom-radio input ~ .custom-btn-span:before, .custom-checkbox input ~ .custom-btn-span:before {
      content: '\e836';
      position: absolute;
      left: 0;
      top: 0;
      font-size: 18px;
      font-family: 'Material Icons';
      line-height: 1.3;
      z-index: 1;
      width: 14px;
      height: 15px; }
    .custom-radio input ~ .custom-btn-span:after, .custom-checkbox input ~ .custom-btn-span:after {
      content: '';
      background: #fff;
      width: 11px;
      height: 11px;
      position: absolute;
      left: 4px;
      top: 4px;
      z-index: 0; }
  @media (max-width: 767px) {
    .custom-radio, .custom-checkbox {
      padding-left: 0; } }

.custom-checkbox input ~ .custom-btn-span:before {
  content: '\e835'; }

.custom-checkbox input[disabled] ~ .custom-btn-span:before {
  cursor: not-allowed;
  color: #65727e !important; }

.custom-checkbox input[disabled] ~ .custom-btn-span:after {
  background-color: #e9e9e9;
  top: 5px; }

.custom-checkbox input:checked ~ .custom-btn-span:before {
  content: '\e834';
  color: #3C65F5; }

.custom-radio input:checked ~ .custom-btn-span:before {
  content: '\e837';
  color: #3C65F5; }
