$primary : #227C70;
$secondary : #C70A80;
$info: #26a4ff;
$danger: #f6374e;
$warning : #FFE15D;
$color-grey: #5f6368;

$modal-full : calc(100% - 65px);
$modal-xlg : 1100px;
$modal-llg : 950px;
$modal-lg : 800px;
$modal-md : 550px;
$modal-sm : 350px;