@import './base/typography', './abstracts/mixin', './abstracts/helper', './components/scrollbar';

// Bootstrap basic style 
@import './getBootstrap', './get-bootstrap-component';

// website basic components and layouts
@import './layouts/layout', './layouts/navigation', './layouts/header', './layouts/footer', './layouts/topbar', './layouts/sidebar', './layouts/offCanvasModal';

// 
@import './components/width', './components/height';

.hover {
 &-bg {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

  &:hover {
   background-color: rgba($primary, .5);
  }
 }

 &-up {
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);

  &:hover {
   transform: translateY(-3px);
   transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
 }
}